#main {
    height: 100vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
}

.clock {
    border: 2px solid black;
    border-radius: 50%;
    height: 248px;
    width: 248px;

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;

    background: url("clock_bg.webp");
    background-size: cover;
    background-repeat: no-repeat;
}

.digit {
    position: absolute;
    z-index: 2;
}

.d12 {
    top: 0;
    left: 114px;
}

.d1 {
    top: 14px;
    right: 72px;
}

.d2 {
    top: 52px;
    right: 34px;
}

.d3 {
    top: 100px;
    right: 12px;
}

.d6 {
    bottom: 6px;
    left: 116px;
}

.d9 {
    left: 12px;
    top: 100px;
}


.dot {
    font-weight: 900;
    font-size: 32px;
    padding-bottom: 17px;
    padding-right: 2px;
}

#seconds {
    transform: rotate(0deg);
}

.sui-container {
    width: 184px;
}

.sui {
    border: 1px solid black;
}